# directories
videos
figures
recordings
montage
expyfun
eeg-data-raw
expyfun-data-raw
expyfun-data-clean
miller-nicely
admin/flyers
old-stuff
params/master-feature-tables
params/old-stuff
__pycache__

# files
admin/runsheet-jsalt-followup.pdf

# file types
*.pyc
params/*.xlsx
aws/*.json
aws/*.txt
aws/*.py
