# directories
videos
recordings
montage
expyfun
expyfun-data-raw
expyfun-data-clean
admin/flyers
old-stuff
eeg-data-raw
params/master-feature-tables
params/old-stuff
__pycache__

# files
admin/runsheet-jsalt-followup.pdf

# file types
*.pyc
params/*.xlsx
