# directories
videos
recordings
expyfun
expyfun-data-raw
expyfun-data-clean
admin/flyers
old-stuff
eeg-data-raw
__pycache__

# files
admin/runsheet-jsalt-followup.pdf

# file types
*.pyc
params/*.xlsx
